/* Basic styling */
@font-face {
    font-family: pars;
    src: url(media/TK3iWkUJAxQ2nLN2Fz8G.woff2);
}

@font-face {
    font-family: headings;
    src: url(media/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVI.woff2);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar-logo {
    margin: 0;
}

.navbar-menu {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-right: 20px;
}

/* Hamburger menu */
.navbar-toggle {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    color: #fff;
}

/* Sections */
.section {
    padding: 0;
    text-align: center;
}

.section-1 {
    background-color: #f2f2f2;
}

.section-2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.5); 
    z-index: 2; 
}


.overlay {
    position: relative;
    z-index: 3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.overlay img{
    position: relative;
    float: left;
    top: 2%;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.section-2 h2 {
    font-size: 300%;
    font-family: headings;
    color: #fff;
}

.section-2 p, .section-2 h3 {
    color: #fff;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Grid */
.grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.grid-item {
    padding: 20px;
    color: white;
}
