/* Basic styling */
@font-face {
    font-family: pars;
    src: url(media/TK3iWkUJAxQ2nLN2Fz8G.woff2);
}

@font-face {
    font-family: headings;
    src: url(media/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVI.woff2);
}

body {
    font-family: pars;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}

/* Navbar */
.navbar {
    position: sticky;
    font-family: headings;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e30e13;
    color: #fff;
    padding: 0px 28px;
    overflow: hidden;
    z-index: 999;
    
}

.logo {
    width: 40%;
    max-width: 100%;
    margin: 0 auto; /* Center the logo horizontally */
}

#myLinks {
    display: none;
    background: #e30e13;
    position: absolute;
    top: 81px; /* Position it below the navbar */
    right: 0; /* Align it to the right */
    width: 10%;
    text-align: center;
    z-index: 1000;
}

#myLinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.icon {
    background: #e30e13;
    display: block;
    transition: all 0.3s ease;
}
.icon i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

  .a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #e30e13;
    color: white;
  }
  #myLinks a:hover{
    background-color: #ca191c;
  }
  .navbar a:hover{
    background-color: #ca191c
  }



/* Sections */

.section-1 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100%;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(48, 48, 48, 0.911); 
    mix-blend-mode: multiply; 
    pointer-events: none; 
}

.text-container1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    padding: 20px; 
    border-radius: 10px; 
    height: 400px;
    width: 50%;
    text-align: center;
}

.text-container1 h2 {
    font-size: 55px;
    text-align: center;
}

.text-container1 p {
    font-size: 25px;
}

.text-container1 a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: block; 
    width: fit-content; 
    margin: 0 auto; 
    text-align: center; 
    transition: font-size 0.3s ease;
    padding-top: 50px;
}

.text-container1 a:hover {
    font-size: 30px;
}

.video {
    justify-content: center;
    align-items: center;
    display: flex;
}

video {
    height: 600px;
    pointer-events: none;
}

.dialogue {
    justify-content: center;
    display: flex;
}

.dialogue a {
    margin-right: 15px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
    transition: font-size 0.3s ease; 
}

.dialogue a:hover {
    font-size: 32px;
    color: grey;
}

.dialogue a:nth-child(1) {
    animation-delay: 0.5s;
}

.dialogue a:nth-child(2) {
    animation-delay: 1s;
}

.dialogue a:nth-child(3) {
    animation-delay: 1.5s;
}

.dialogue {
    display: none;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.intstory {
    display: none;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards; 
}


.intstory .content {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.intstory .close {
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: font-size 0.3s ease; 
}

.intstory .choices {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.intstory .close:hover {
    color: red;
    font-size: 35px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 97, 0.792); 
    z-index: 2; 
}


.overlay {
    position: relative;
    z-index: 3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.overlay img{
    position: relative;
    float: left;
    top: 2%;
    width:  150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.section-2 h2 {
    font-size: 300%;
    font-family: headings;
    color: #fff;
}

.section-2 p, .section-2 h3 {
    color: #fff;
}




/* Footer */
footer {
    background-color: #1f1e1e;
    color: #fff;
    padding: 1px;
    text-align: center;
}
/* Grid */
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item {
    padding: 20px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 28px;
}
h6{
    font-size: 20px;
}
h6 p{
    font-size: 18px;
}
.fa{
    margin-left: 20px;
    margin-right: 20px;
}
.info{
    display: grid;
    grid-template-columns: 45% 59%;
}
.contact .email a{
    pointer-events: none;
}

.contact a, .navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }



